<div class="flex mt-5 p-2 w-full " 
[ngClass]="{
    'border-gold':focused() && design() == 'dark', 'border-white':!focused() && design() == 'dark', 'border-2':focused(), 'border':!focused(),
    'border-black': design() == 'light'
    }">
    <input #input [type]="this.visible ? 'text':'password'" name="password" 
    id="password" placeholder="{{placeholder()}}" class="w-full font-open-sans focus:outline-none focus:ring-0 focus:border-none"
    [ngClass]="{'text-white': design() == 'dark', 'text-black': design() == 'light'}"
    (focus)="focused.set(true)" (blur)="focused.set(false)" (change)="value.set(input.value)"
    >
    <img src="{{icon()}}" alt="show password" class="w-5 ml-2 my-auto cursor-pointer" (click)="togglePasswordVisibility()">
</div>