<div class="flex flex-col w-full h-full p-5 bg-amber-50 text-black">
    <h2 class="font-hanson text-black font-bold text-4xl text-center mt-5">Bookings</h2>
    <div class="flex flex-col w-full h-full overflow-y-auto mt-10">
        <hr class="w-full bg-black rounded-xs h-0.5">
        <div class="flex my-5 cursor-pointer mx-auto">
            <div id="dot" class="w-2.5 h-2.5 border rounded-full mt-1 border-black bg-black"></div>
            <div class="flex flex-col text-[14px] uppercase ml-4 text-black">
                <h6 class="font-bold text-xs">07/12/2026 (BGC Studio)</h6>
                <h5 class="font-bold">6:00PM - Beginner</h5>
                <div class="flex ml-3.5">
                    <ul>
                        <div class="relative flex items-center">
                            <div class="absolute left-0 top-0 h-full w-0.5 bg-black"></div>
                            <div class="border w-2.5 h-0.5 border-black mr-1"></div>
                            <li class="uppercase">Revibe Class</li>
                        </div>
                        <div class="relative flex items-center">
                            <div class="absolute left-0 top-0 h-1/2 w-0.5 bg-black" ></div>
                            <div class="border w-2.5 h-0.5 border-black mr-1"></div>
                            <li class="uppercase">Coach Kervin</li>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="vertical-line"></div>
        </div>
        <hr class="w-full bg-black rounded-xs h-0.5"><div class="flex my-5 cursor-pointer mx-auto">
            <div id="dot" class="w-2.5 h-2.5 border rounded-full mt-1 border-black bg-black"></div>
            <div class="flex flex-col text-[14px] uppercase ml-4 text-black">
                <h6 class="font-bold text-xs">07/12/2026 (BGC Studio)</h6>
                <h5 class="font-bold">6:00PM - Beginner</h5>
                <div class="flex ml-3.5">
                    <ul>
                        <div class="relative flex items-center">
                            <div class="absolute left-0 top-0 h-full w-0.5 bg-black"></div>
                            <div class="border w-2.5 h-0.5 border-black mr-1"></div>
                            <li class="uppercase">Revibe Class</li>
                        </div>
                        <div class="relative flex items-center">
                            <div class="absolute left-0 top-0 h-1/2 w-0.5 bg-black" ></div>
                            <div class="border w-2.5 h-0.5 border-black mr-1"></div>
                            <li class="uppercase">Coach Kervin</li>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="vertical-line"></div>
        </div>
        <hr class="w-full bg-black rounded-xs h-0.5"><div class="flex my-5 cursor-pointer mx-auto">
            <div id="dot" class="w-2.5 h-2.5 border rounded-full mt-1 border-black bg-black"></div>
            <div class="flex flex-col text-[14px] uppercase ml-4 text-black">
                <h6 class="font-bold text-xs">07/12/2026 (BGC Studio)</h6>
                <h5 class="font-bold">6:00PM - Beginner</h5>
                <div class="flex ml-3.5">
                    <ul>
                        <div class="relative flex items-center">
                            <div class="absolute left-0 top-0 h-full w-0.5 bg-black"></div>
                            <div class="border w-2.5 h-0.5 border-black mr-1"></div>
                            <li class="uppercase">Revibe Class</li>
                        </div>
                        <div class="relative flex items-center">
                            <div class="absolute left-0 top-0 h-1/2 w-0.5 bg-black" ></div>
                            <div class="border w-2.5 h-0.5 border-black mr-1"></div>
                            <li class="uppercase">Coach Kervin</li>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="vertical-line"></div>
        </div>
        <hr class="w-full bg-black rounded-xs h-0.5">
    </div>
    <a [routerLink]="['', {outlets:{sidebar: 'account'}}]" class="mt-5">
        <button class="font-eurostile font-bold text-white text-xl rounded-full bg-black uppercase py-2 w-full cursor-pointer">Back</button>
    </a>
</div>