.hero-section {
    background-color: gray;
}

.story .overlay.scrolled {
    left: 0;
}

.overlay img.scrolled {
    opacity: 100%;
}

#story.scrolled {
    left: 100%;
    opacity: 0;
}

#mission.scrolled {
    left: 0;
    opacity: 100%;
}
